@model Artbuk.Controllers.CreatePostData

@{
    //Layout = null;
}

<html>
    <head>
        <meta charset='utf-8' />
        <title>Создать пост</title>
    </head>
    <body>
        <h2>Создать пост</h2>
        <div class="col-4">
        <form method='post' enctype="multipart/form-data">
            <p>
                <label>Содержимое:</label><br />
                <input type="text" name="Body" />
            </p>
            <select name="GenreId" class="form-select" aria-label="Категории">
                 @foreach(var genre in Model.Genres)
                 {
                    <option value="@genre.Id">@genre.Name</option>
                 }
            </select>
            <select name="SoftwareId" class="form-select" aria-label="Категории">
                @foreach (var software in Model.Software)
                {
                    <option value="@software.Id">@software.Name</option>
                }
            </select>
            <div class="col-12">
                <label for="formFile" class="form-label">Выберите изображение</label>
                <input class="form-control" type="file" name="formFile" id="formFile" accept="image/png, image/jpeg">
            </div>
            <input type='submit' value='Создать' />
        </form>
        </div>
    </body>
</html>
