@model Artbuk.Infrastructure.ViewData.CreatePostData

@{
    //Layout = null;
}

<html>
    <head>
        <meta charset='utf-8' />
        <title>Создать пост</title>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                 <div class="col-6 form-block">
                    <h2>Создать пост</h2>
                    <form method='post' enctype="multipart/form-data">
                        <p class="info-label">Содержимое:</p>
                        <textarea class="form-control" type="text" name="Body"></textarea>
                        <p class="info-label">Категории:</p>
                        <select name="GenreId" class="form-select">
                             @foreach(var genre in Model.Genres)
                             {
                                <option value="@genre.Id">@genre.Name</option>
                             }
                        </select>
                        <p class="info-label">Инструменты:</p>
                        <select name="SoftwareId" class="form-select">
                            @foreach (var software in Model.Software)
                            {
                                <option value="@software.Id">@software.Name</option>
                            }
                        </select>
                        <p class="info-label">Выберите изображение</p>
                        <input class="form-control" type="file" name="formFile" id="formFile" accept="image/png, image/jpeg">
                        <button type='submit' class="btn btn-success admin-add">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
