@model Artbuk.Infrastructure.ViewData.FeedData
@{
    //Layout = null;
}

<html>
<head>
    <title>Лента</title>
</head>
<style>
    .genre {
        display: inline-block
    }
</style>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div id="carouselExampleControls" class="carousel slide col-8" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img style="width: 500px; height: 400px;" src="~/images/3e287378-a1a2-47c8-d8bc-08db49c870d4/2360b4b3-c2e5-473d-1b37-08db4cebfab5/710c045a-85a8-4939-a4af-efd4eab0c398.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img style="width: 500px; height: 400px;" src="~/images/3e287378-a1a2-47c8-d8bc-08db49c870d4/2360b4b3-c2e5-473d-1b37-08db4cebfab5/710c045a-85a8-4939-a4af-efd4eab0c398.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img style="width: 500px; height: 400px;" src="~/images/3e287378-a1a2-47c8-d8bc-08db49c870d4/2360b4b3-c2e5-473d-1b37-08db4cebfab5/710c045a-85a8-4939-a4af-efd4eab0c398.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

    <form class="genre" method="get" action="~/Feed/Feed">
        <button type="submit">Все</button>
    </form>

    @foreach(var genre in Model.Genres)
    {
        <form class="genre" method="get" action="~/Feed/Feed">
            <input type="hidden" name="genreId" value="@genre.Id" />
            <button type="submit">@genre.Name</button>
        </form>
    }
    <br />
    <br />

    @foreach (var post in Model.Posts)
    {
        <div>
            <a href="~/Post/Post?postId=@post.PostId">
                <img width="200px" height="200px" src=@Url.Content(post.ImagePath) runat="server" />
            </a>
        </div>
    }

    <a href="~/Feed/CreatePost">Добавить пост</a>
    <a href="~/Users/Users">Пользователи</a>
    <a href="~/Users/Subscribtions?userId=@Model.CurrentUserId">Подписки</a>
    <a href="~/Users/Subscribers?userId=@Model.CurrentUserId">Подписчики</a>
    <a href="~/GenreAdmin/Index">Админ-панель</a>
    <a href="~/Profile/Logout">Выйти</a>

    <script src="js/site.js" asp-append-version="true"></script>
</body>
</html>