@model Artbuk.Infrastructure.ViewData.FeedData
@{
    //Layout = null;
}

<html>
<head>
    <title>Лента</title>
</head>
<style>
    .genre {
        display: inline-block
    }
</style>
<body>

    <h3>Лента</h3>

    <form class="genre" method="get" action="~/Feed/Feed">
        <button type="submit">Все</button>
    </form>

    @foreach(var genre in Model.Genres)
    {
        <form class="genre" method="post" action="~/Feed/Feed">
            <input type="hidden" name="genreId" value="@genre.Id" />
            <button type="submit">@genre.Name</button>
        </form>
    }
    <br />
    <br />

    @foreach (var post in Model.Posts)
    {
        <div>
            <a href="~/Post/Post?postId=@post.PostId">
                <img width="200px" height="200px" src=@Url.Content(post.ImagePath) runat="server" />
            </a>
        </div>
    }

    <a href="~/Feed/CreatePost">Добавить пост</a>
    <a href="~/Profile/Registration">Регистрация</a>
    <a href="~/Profile/Login">Авторизация</a>
    <a href="~/Profile/Profile?userId=@Model.CurrentUserId">Профиль</a>
    <a href="~/Users/Users">Пользователи</a>
    <a href="~/Profile/Logout">Выйти</a>

    <script src="js/site.js" asp-append-version="true"></script>
</body>
</html>