@model List<Post>
@{
    //Layout = null;
}

<html>
<head>
    <title>Профиль</title>
</head>
<style>
    .genre {
        display: inline-block
    }
</style>
<body>
    <h3>Профиль</h3>
    <br />
    <br />
    <table>
        <tr>
            <td>Содержимое</td>
            <td>Дата</td>
            <td></td>
        </tr>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Body</td>
                <td>@post.CreatedDate</td>
                <td>
                    <form method="post" action="~/Profile/DeletePost">
                        <input type="hidden" name="postId" value="@post.Id" />
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</body>
</html>