@{
    //Layout = null;
}

<html>
<head>
    <meta charset='utf-8' />
    <title>Создать инструмент</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 form-block">
                <h2>Создать инструмент</h2>
                <form method='post' enctype="multipart/form-data">
                    <h4>Название инструмента:</h4>
                    <input class="form-control" type="text" name="Body" />
                    <button class="btn btn-success admin-add" type='submit'>Создать</button>
                </form>
            </div>
        </div>
    </div>
    <script src="js/site.js" asp-append-version="true"></script>
</body>
</html>