@{
    //Layout = null;
}

<html>
<head>
    <meta charset='utf-8' />
    <title>Создать инструмент</title>
</head>
<body>
    <h2>Создать инструмент</h2>
    <div class="col-4">
        <form method='post' enctype="multipart/form-data">
            <p>
                <label>Название инструмента:</label><br />
                <input type="text" name="Body" />
            </p>
            <input type='submit' value='Создать' />
        </form>
    </div>
</body>
</html>