@model Software;

@{
    //Layout = null;
}

<html>
<head>
    <title>Лента</title>

    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 form-block">
                <h2>Изменить название инструмента</h2>
                <form method='post' enctype="multipart/form-data asp-controller=" oftwareAdmin" asp-action="Update">
                    <h4>Название инструмента:</h4>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input class="form-control" type="text" name="Name" value="@Model.Name" />
                    <button class="btn btn-success admin-add" type='submit'>Обновить</button>
                </form>
            </div>
        </div>
    </div>
    <script src="js/site.js" asp-append-version="true"></script>
</body>
</html>
