@model Artbuk.Infrastructure.ViewData.UsersData
@{
    //Layout = null;
}

<html>
    <head>
        <title>@Model.PageHeader</title>
    </head>
    <body>
        <h3>@Model.PageHeader</h3>

        @if (Model.Users.Count == 0)
        {
            <div>
                <span>Здесь пусто...</span>
            </div>
        }

        @foreach (var user in Model.Users)
        {
            <div>
                <a href="~/Profile/Profile?userId=@user.Id">
                    <div display="inline-block">
                        <img width="200px" height="200px" src=@Url.Content(@user.ImagePath) runat="server" />
                    </div>
                    <div display="inline-block">
                        <span>@user.Name</span>
                    </div>
                </a>
            </div>
        }
    </body>
</html>